<!DOCTYPE html>
<html lang="en">

<head>
    <title>Workout Music Recommendations</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        h1 {
            text-align: center;
            color: pink;
        }
        
        p {
            text-align: center;
            color: pink;
        }
    </style>
</head>

<body>
    <center><img src="gp9EKcCARC5s77BSy9VqOsb-cmHIqrI814-vnAYoj_ljxpADtPVmQI-_TlTyBW0sFJYR2wyGfFWhJ59-NOCArNAe67mcik28UsrwWD3umKLIq0jR99p4eb0l6kxt.png" alt="meme"></center>
    <h1>Welcome to Workout Music Recommendations!</h1>
    <p>A website created by Soumi, Sejal, and Mohana.</p>
    <div style="text-align:center">
        <a href="webpage2.html " class="button1 "><button>Go To Spotify Login</button></a>
    </div>
</body>

</html>