<!DOCTYPE html>
<html>

<head>
    <title>Workout Music Recommendations</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        h1 {
            text-align: center;
            color: pink;
        }
    </style>
</head>
<div class="header" style="text-align:center">
    <h1>Welcome to Spotify!</h1>
</div>
<center><img src="621.png" alt="fuckboy"></center>
<form action=" action_page.php " method="post ">
    <div style="text-align:center " class="container ">
        <label for="uname "><b>Username</b></label>
        <input type="text " placeholder="Enter Username " name="uname " required>
    </div>
    <div style="text-align:center " class="container ">
        <label for="psw "><b>Password</b></label>
        <input type="password " placeholder="Enter Password " name="psw " required>
    </div>
    <div style="text-align:center " class="container ">
        <label>
        <input type="checkbox " checked="checked " name="remember "> Remember Me
        </label>
    </div>
    <div style="text-align:center " id="button "><a href="webpage3.html ">Log In</a>
    </div>
    <div class="container " style="background-color:#f1f1f1;text-align:center ">
        <span class="psw "> <a href="fp.html">Forgot password?</a></span>
    </div>
    <div style="text-align:center "> <button type="button "><a href="webpage.html ">Cancel</a></button>
    </div>
</form>

</html>